GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
GOOGLE_CLOUD_PROJECT="YOUR_GOOGLE_CLOUD_PROJECT"
SHOPIFY_SHOP_URL="YOUR_SHOPIFY_SHOP_URL"
SHOPIFY_API_VERSION="YOUR_SHOPIFY_API_VERSION"
SHOPIFY_ACCESS_TOKEN="YOUR_SHOPIFY_ACCESS_TOKEN"
